
.d-flex{
    display: flex;
} 

.justify-center{
    justify-content: center;
}

.button{
    padding-top: 40px;
}

.wrapper{
    height: 100%;
}

.button button{
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    color: black;
    border-radius: 12px;
}

.button button:hover{
    background-color: #ebedfb;
}