<header>
    <h6>List</h6>
</header>

<main class="container-fluid d-flex flex-grow justify-content-between flex-column">

    <div class="d-flex flex-grow-1 mb-3 justify-content-between">
        <div class="head-form d-flex">
            <button class="btn" type="button" (click)="openForm()">+ Add</button>
        </div>

        <app-search></app-search>

    </div>

    <div id="table-product" class="container-fluid list-container">
        <table class="table-product">
            <tr>
                <th># <span (click)="sortGroup('id')" class="badge px-1">
                        ^
                    </span> 
                </th>
                <th>Name <span (click)="sortGroup('name')" class="badge px-1">
                        ^
                    </span>  
                </th>
                <th>Description</th>
                <th>Age <span (click)="sortGroup('age')" class="badge px-1">
                        ^
                    </span>
                </th>
            </tr>

            <tbody cdkDropList 
                    #activelistData="cdkDropList" 
                    [cdkDropListData]="listData"
                    [cdkDropListConnectedTo]="[inactiveList]" 
                    (cdkDropListDropped)="drop($event)">

                <tr *ngIf="!listData.length">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr *ngFor="let data of listData, let i= index" cdkDrag>
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.sometext}}</td>
                    <td>{{data.age}}</td>
                </tr>
            </tbody>

        </table>

        <!-- Start : List 2 -->
        
        <table class="mt-4 table-product">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Age</th>
            </tr>

            <tbody cdkDropList #inactiveList="cdkDropList" 
                    [cdkDropListData]="addList"
                    [cdkDropListConnectedTo]="[activelistData]" 
                    (cdkDropListDropped)="drop($event)"
            >
                <tr *ngIf="!addList.length">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let data of addList, let i= index" cdkDrag>
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.sometext}}</td>
                    <td>{{data.age}}</td>
                </tr>
            </tbody>
            
        </table>
        <!-- End : List 2 -->




    </div>
</main>