// All the SCSS Variables goes here

// font
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder : 700;

// Search Form
$search-form-width : 200px;