// Form controls styles goes here
.filter-notification-badge{
      position: absolute;
      width: 10px;
      height: 10px;
      left: -26px;
      top: 5px;
      background-color: white;
}

.search-form{
      width: $search-form-width;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}