<header>
    <h1>User</h1>
</header>

<main class="container d-flex flex-grow justify-content-between flex-column">
    <section class="head-form d-flex justify-content-between">
        <div class="search">
            <input  type="text" placeholder="Search" [(ngModel)]="search">
        </div>
        <div> 
            <button class="btn" routerLink="/users/userform">+Add new User</button>
        </div> 
    </section>

    <div id="table-product" class="container list-container">
        <table class="table-product">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>Date of Joining</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
    
            <tr *ngFor="let user of userdata | searchText:search">
                <td>{{user.id}}</td>
                <td>{{user.firstname + ' ' + user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{user.department | getByid:dept }}</td>
                <td><button routerLink="../edit/{{user.id}}">Edit</button><button (click)="ondelete(user.id)">Delete</button></td>
            </tr>
        </table>
    </div>
</main>

