.header{
    h1{
        font-weight: 500;
    }
}

.search{
    input{
        width: 200px;
        padding: 5px 5px;
    }
}

.btn{
    border: none;
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    width: 120px;
    color: white;
    background-color: #2f6bff;
    cursor: pointer;
}

.container{
    padding: 30px 0;
}

.table-product {
    border-collapse: collapse;
    width: 100%;
}

.table-product th {
    padding: 10px 10px;
    text-align: left;
    background-color: #e6e7eb;
    color: black;
}

.table-product td{
    padding: 5px 10px;
}