<div class="container scroll overflow-scroll" appScroll>
      <div *ngFor="let employee of employee">
            <div class="d-flex flex-cloumn">
                  <p class="ms-2 me-2">{{employee.firstname}}</p>
                  <p class="ms-2 me-2">{{employee.lastname}}</p>
                  <p class="ms-2 me-2">{{employee.age}}</p>
                  <p class="ms-2 me-2">{{employee.department}}</p>
                  <p class="ms-2 me-2">{{employee.city}}</p>
            </div>
      </div>
</div>