.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.asidebar{
    width: 250px;
    height: 100%;
    // background-color: #4EA8DE;
    border-right: 1px solid rgb(206, 206, 206);
}

.header{
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.nav{
    ul{
        li{
            list-style: none;
            font-size: 1.2rem;
            color: black;
        }
    }
    
}

