
/* Flex Property */
.d.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.flex-grow{
    flex-grow: 1;
}

input[type=submit]:disabled{
    background-color: transparent;
}

 /* Main wrapper */
.main{
    margin: 40px 50px; 
}

/* Container */
.container{
    padding: 20px 0;
}

.label h2{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.input input{
    padding-left: 10px;
    height: 40px;
    width: 80%;
    border:none;
    border-radius: 5px;
    cursor: auto;
}


/* Buttons */
.add-btn{
    display: flex;
    padding-top: 10px;
}

.btn{
    cursor: pointer;
    padding: 10px;
    background-color: #ADE8F4;
    border: none;
    font-size: 1.2rem;
    color: black;
    border-radius: 12px;
}

.btn:disabled{
    background-color : white;
    color: red;
    cursor: no-drop;
}

.del-btn{
    margin-top: 10px;
    padding-left: 10px;
}

.skill-del{
    margin-top: 0;
}

.btn:hover{
    background-color: white;
    color: black;
}

/* Form Array Fields */
.array-div{
    display: flex;
    padding: 10px 0;
}

.array-div input{
    width: 500px;
    padding-left: 10px;
}

.field-wrapper{
    display: flex;
    flex-direction: column;
}

.field-wrapper input{
    width: 500px;
    margin-top: 10px;
}


/* Validations */
.validation{
    padding-left: 10px;
    color: red;
    font-size: 1rem;
}
