<section class="">

    <main class="main d-flex justify-center flex-grow">
        <form class="form-wrapper justify-center" [formGroup]="createform" (ngSubmit)="submitToDB()">
    
            <!-- name -->
            <div class="container d-flex flex-col">
                <div class="label">
                    <label for="name"><h2>Name</h2></label>
                </div>
                <div class="input">
                    <input type="text" placeholder="Enter your name.." formControlName="name">
                    <small class="validation" *ngIf="f['name'].touched && f['name'].invalid">*This field is required</small>
                </div>
            </div>

            <!-- Post -->
            <div class="container d-flex flex-col">
                <div class="label">
                    <label for="post"><h2>Your Post</h2></label>
                </div>
                <div class="input">
                    <input type="text" placeholder="Enter your post.." formControlName="post">
                    <small class="validation" *ngIf="f['post'].touched && f['post'].invalid">*This field is required</small>
                </div>
            </div>

            <!-- Email -->
            <div class="container d-flex flex-col">
                <div class="label">
                    <label for="email"><h2>Email</h2></label>
                </div>
                <div class="input">
                    <input type="email" placeholder="Enter your email.." formControlName="email">
                    <small class="validation" *ngIf="f['email'].touched && f['email'].invalid">*This field is required</small>
                </div>
            </div>
            
            <!-- Phone -->
            <div class="container d-flex flex-col">
                <div class="label">
                    <label for="phone"><h2>Phone</h2></label>
                </div>
                <div class="input">
                    <input type="number" placeholder="Enter your phone number.." formControlName="phone">
                    <small class="validation" *ngIf="f['phone'].touched && f['phone'].invalid">*This field is required</small>
                </div>
            </div>

            <!-- Skills -->
             <div class="container d-flex flex-col">
                <div class="label">
                    <label for="skill"><h2>Techincal Skill</h2></label>
                </div>
                <div class="input" formArrayName="skill" *ngFor="let skill of techSkill.controls ; let i = index">
                    <div [formGroupName]="i" class="array-div">
                        <div>
                            <input type="text" placeholder="Enter Techincal skills.." formControlName="skill">
                            <small class="validation" *ngIf="f['skill'].touched && f['skill'].invalid">*This field is required</small>
                        </div>
                        <div class="del-btn skill-del" style="display: flex;">
                            <button type="button" class="btn" (click)="removeSkillField(i)" [disabled]="i == 0">- Delete</button>
                        </div>
                    </div>
                </div>
                <div class="add-btn">
                    <button type="button" class="btn" (click)="newSkill()">+ Skills</button>  
                </div>
            </div>
            
            <!-- Experience -->
           <div class="container d-flex flex-col">
                <div class="label">
                    <label for="experience"><h2>Experience</h2></label>
                </div>
                <div class="input" formArrayName="experience" *ngFor="let experience of experience.controls; let i = index">
                    <div class="" [formGroupName] = "i">
                        <div class="field-wrapper">
                            <div>
                                <input type="text" placeholder="Enter your experience.." formControlName="exp">
                                <small class="validation" *ngIf="f['experience'].touched && f['experience'].invalid">*This field is required</small>
                            </div>
                            <div class="input ">
                                <input type="text" placeholder="Enter your post.." formControlName="post">
                                <small class="validation" *ngIf="f['experience'].touched && f['experience'].invalid">*This field is required</small>
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Year from (yyyy) to (yyyy).." formControlName="year">
                                <small class="validation" *ngIf="f['experience'].touched && f['experience'].invalid">*This field is required</small>
                            </div>
                            <div class="del-btn">
                                <button type="button" class="btn" (click)="removeExpField(i)" [disabled]="i == 0"> - Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-btn">
                    <button type="button" class="btn" (click)="newExperience()">+ Experience</button>
                </div>
            </div>
            
            <!-- Education -->
            <div class="container d-flex flex-col">
                <div class="label">
                    <label for="education"><h2>Education</h2></label>
                </div>
                <div class="input" formArrayName="education" *ngFor="let education of education.controls; let i = index">
                    <div class="" [formGroupName] = "i">
                        <div class="field-wrapper">
                            <div>
                                <input type="text" placeholder="Enter your education.." formControlName="education">
                                <small class="validation" *ngIf="f['education'].touched && f['education'].invalid">*This field is required</small>
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Enter your majors.." formControlName="major">
                                <small class="validation" *ngIf="f['education'].touched && f['education'].invalid">*This field is required</small>
                            </div>
                            <div class="input">
                                <input type="number" placeholder="Enter your gpa.." formControlName="gpa">
                                <small class="validation" *ngIf="f['education'].touched && f['education'].invalid">*This field is required</small>
                            </div>
                            <div class="del-btn">
                                <button type="button" class="btn" (click)="removeEduField(i)" [disabled]="i == 0">- Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-btn">
                    <button type="button" class="btn" (click)="newEducation()">+ Education</button>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="container d-flex flex-col">
                <div class="add-btn">
                    <button class="btn" type="submit" value="submit" [disabled]="createform.invalid">Submit</button>
                    <div class="del-btn">
                        <button class="btn" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</section>