<div class="container d-flex flex-column">
    <h3 clas="static-title">Array Methods</h3>
    <div class="row d-flex flex-column">
        <button class="btn m-1" type="button" (click)="everyMethod()">Every Method</button>
        
        <button class="btn m-1" type="button" (click)="filterMethod()">Filter Method</button>
        
        <button class="btn m-1" type="button" (click)="findMethod()">Find Method</button>
               
        <button class="btn m-1" type="button" (click)="foreachMethod()">ForEach Method</button>
        
        <button class="btn m-1" type="button" (click)="someMethod()">Some Method</button>
        
        <!--<button class="btn m-1" type="button" (click)="joinMethod()">Join Method</button>
        
        <button class="btn m-1" type="button" (click)="lengthMethod()">length Method</button> -->
        
    </div>
</div>
