// sidebar toggle
.sidebar{
    width: 250px;
    height: 100%;
    transition: 0.4s all;
}

#menu{
      display: none;
  }
  
  // ham-menu bar
  .bar{
      position: absolute;
      z-index: 2;
      top: 24px;
      left: 24px;
      font-size: 1.65rem;
  }
  
  #menu:checked ~.sidebar{
      width: 80px;
      transition: 0.4s all;
  
      .link-name{
          display: none;
      }
  
      .nav-list{
          a{
              padding: 0;
              justify-content: center;
          }
      }
      img{
          display: none
      };
      .ham-menu{
          i{
              font-size: 1.5rem;
              color: #4a94d8;
          }
      }
                 
  }