
<header>
    <h1>Employee List</h1>
</header>
  
<main class="container d-flex flex-grow justify-content-between flex-column">
    <section class="head-form d-flex justify-content-between">
        <button class="btn" routerLink="../add">+ Add</button>
    </section>
  
    <div id="table-product" class="container list-container">
        <table class="table-product">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <!-- <th>Department</th> -->
                <th>Action</th>
            </tr>
      
            <tr *ngFor="let employee of employeeList">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.age}}</td>
                <td>
                    <button class="table-action-btn" (click)="onEdit(employee.id)">Edit</button>
                    <button class="table-action-btn" (click)="OnDelete(employee.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</main> 
  
