<div class="row">
      <div class="col-4">
            <form class="form-group">
                  <div class="form-floating my-2">
                        <input type="number" class="form-control" id="phoneNumber">
                        <label for="phoneNumber">Phone Number</label>
                  </div>
                  <div class="form-floating my-2">
                        <input type="text" class="form-control" id="name">
                        <label for="name">Name</label>
                  </div>
                  <div class="form-floating my-2">
                        <input type="date" class="form-control" id="expiryDate">
                        <label for="expiryDate">Expiry Date</label>
                  </div>
                  <div class="form-floating my-2">
                        <select type="select" class="form-control" id="diseases">
                              <option value=""></option>
                        </select>
                        <label for="diseases">Diseases</label>
                  </div>
            </form>
            <form class="form-group">
                  <div class="form-floating my-2">
                        <select type="select" class="form-control" id="medicine">
                              <option value=""></option>
                        </select>
                        <label for="medicine">Medicine</label>
                  </div>
            </form>
      </div>
      <div class="col-8">

      </div>
</div>