<div class="row">
      <form class="col-6" [formGroup]="validForm">
            <div class="mb-4">
                  <label for="mode" class="form-label">Select:</label>
                  <select formControlName="mode" class="form-select" name="mode" id="mode">
                        <option value="mail">Mail</option>
                        <option value="phoneNumber">Phone Number</option>
                  </select>
            </div>
            <div class="mb-4">
                  <label for="mobileNumber" class="form-label">Mobile Number:</label>
                  <input formControlName="phoneNumber" type="number" class="form-control" name="mobileNumber">
            </div>
            <div class="mb-4">
                  <label for="mail" class="form-label">Email ID:</label>
                  <input formControlName="email" type="email" class="form-control" name="mail">
            </div>
            <button class="btn text-white" (click)="submit()" 
                  [ngClass]="validForm.valid? 'btn-primary': 'd-none'">
                  Submit
            </button>
      </form>
</div>