/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

body{
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
}

.flex-column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content:center;
}

.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content: center;
}

.wrapper{
    height: 100%;
}

.outlet{
    background-color: #f7f8fa;
    overflow: auto;
    padding: 40px 40px;
}

