// // Bootstrap files
// @import '~/src/assets/scss/base/index';
// @import '~/src/assets/scss/vendor/index';
// @import '~/src/assets/scss/component/index';
// @import '~/src/assets/scss/layout/index';
// @import '~/src/assets/scss/utilities/index';



@import '@angular/cdk/overlay-prebuilt.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

body{
    overflow: hidden;
}

.m-1{
    margin: 1rem 1rem;
}

// Table
.table-product{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;

    th{
        padding: 15px 0;
        color: #b7b8ba;
        font-weight: 400;
        border-bottom: 1px solid rgb(235, 234, 234);
    }

    td{
        padding: 15px 0;
        border-bottom: 1px solid rgb(235, 234, 234);
    }
}

// wrapper
.wrapper{
    height: 100%;
    position: relative;

    .sidebar{
        width: 250px;
        height: 100%;
        transition: 0.4s all;
    }
}

.outlet{
    background-color: #f7f8fa;
    overflow: auto;
    padding: 40px 40px;
}


// Responsive Tablet
@media screen and (max-width:768px) {

    .sidebar{
        position: absolute;
        width: 100%;
        left: -400px;
    }    

    #menu:checked ~.sidebar{
        width: 60%;
        left: 0;
        z-index: 1;

       figure{
           img{
               display: block
           };
       }

        .nav-list{
           a{
               justify-content: flex-start;
            } 
        }

        .link-name{
            display: block;
        }

    }
    
}

// Responsive mobile
@media  screen and (max-width: 567px) {

    #menu:checked ~.sidebar{
        width: 100%;
    }

    .list-container{
        overflow: auto;
    }

    .head-title{
        h1{
            font-size: 1.75rem;
        }
    }

    .head-form{
        flex-wrap: wrap;

            select{
                width: 20%;
            }


        a{
            padding: 9px;
            width: 100px;
            border-radius: 5px;
        }
    }

    .input-tag{
        input{
            width: 100%;
            flex-wrap: wrap;
        }
    }

    .table-product{
        th{
            padding: 15px 15px;
        }
    }

    .btn{
        margin-top: 10px
    }
    
    .form-wrapper{
        width: 100%;
    }
}
